body {
    margin: 0 0 0 0;
    background-color: #5EB6DD;
    font-family: cursive;
}
#header {
    background-color: #5EB6DD;
    color : white;
    float: left;
    text-align: center;
    margin : 0;
    padding: 0;
    width: 100%;
    display: inline;
}

#account {
    float: right;
    background-color: #046380;
    width: 10%;
    margin-right: 3%;
    margin-bottom: 4%;
    display: inline;
    border : solid 1px black;

}

#account a {
    color : white;
    text-decoration: none;
    display: block;
    margin: 0;
}
#account a:hover {
    color : black;
    text-decoration: none;
    display: block;
    background-color: #A2B5BF;
    margin: 0;
}

#nav {
    background-color: #5EB6DD;
    color : white;
    float: left;
    width: 18%;
    margin: 0;
    padding: 0;
    height: 100%;
}

#nav a {
    background-color: #A2B5BF;
    color : white;
    text-decoration: none;
    display: block;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    border-top: solid 1px black;
}

#nav a:hover{
    color : black;
    text-decoration: none;
    display: block;
    background-color: #efeedf;
}

#nav ul {
    list-style-type: none;
    padding: 0;
    border-bottom: solid 1px black;

}

#nav li {
    padding: 0;
    margin: 0;
}

#content {
    background-color: #efeedf;
    float: right;
    width: 82%;
    min-height: 800px;
}

#content p {
    margin: 1%;
}

#content h1 {
    color : blue;
    margin-left : 3%;
}

#content hr {
    margin-right : 60%;
    margin-left : 3%;
}

table {
    border-collapse: collapse;
    color: #333;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    text-align: center;
}

td, table th {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    font-size: 0.8em;
    vertical-align: top;
    width: 3%;
}

#content h2 {
    text-align: center;
    color : #046380;

}